.Form {
  background: #0e101c;
  /* background: #d4def8; */
  color: white;
  /* padding: 0 20px 50px; */
  padding: 1em;
  border-radius: 10px;
}

.input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 15px;
  font-size: 14px;
}

.input[type="submit"] {
  background: #8a1c44;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 20px;
  padding: 10px;
  font-size: 1em;
  font-weight: normal;
  letter-spacing: 1px;
  display: block;
  appearance: none;
  border-radius: 4px;
  width: 100%;
}

.secondaryFormbutton {
  background: none;
  color: white;
  text-transform: uppercase;
  border: 2px solid #520b09;
  margin-top: 20px;
  padding: 5px;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 1px;
  display: block;
  appearance: none;
  border-radius: 4px;
  width: 100%;
}

.input[type="submit"]:active,
.secondaryFormbutton:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

.input[type="submit"]:hover,
.secondaryFormbutton:hover {
  background: #bf1650;
}

.errorText {
  font-size: 12px;
  color: crimson;
}
